<ion-view view-title="APPROVAL SYSTEM" hide-back-button="true">
  <ion-nav-buttons side="left">
    <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
    </button>
  </ion-nav-buttons>
  <div class="bar bar-subheader">
    <h2 class="title">Dashboard</h2>
  </div>
  <ion-content>
    <br/>
    <br/>
    <div class="list card" style="margin-top: 5px !important; margin: auto;">
      <a class="item card item-avatar" href="#">
        <img src="http://www.erickwellem.com/demo/approsys/{{user.photo}}" err-src="https://cdn2.iconfinder.com/data/icons/windows-8-metro-style/128/add_user.png">
        <h2 style="padding-top: 4%;">{{user.first_name + " " + user.last_name}}</h2>
        <p>{{user.description}}</p>
      </a>
      <div class="item item-divider">
        Notifications
      </div>
      <a class="item" href="#">
        Pending Approval
        <span class="item-note">
          {{current_dashboard.pending}}
        </span>
      </a>
    </div>
    <div class="list card" style="margin-top: 5px !important; margin: auto;">
      <div class="item item-divider">
        Statistic
      </div>
      <a class="item" href="#">
        Approved Today :
        <span class="item-note">
          {{current_dashboard.approved.today}}
        </span>
      </a>
      <a class="item" href="#">
        Approved this Week :
        <span class="item-note">
          {{current_dashboard.approved.week}}
        </span>
      </a>
      <a class="item" href="#">
        Approved this Month :
        <span class="item-note">
          {{current_dashboard.approved.month}}
        </span>
      </a>
    </div>
    <div class="list card" style="margin-top: 5px !important; margin: auto;">
      <div class="item item-divider">
        Last Login
      </div>
      <a class="item" href="#">
        From :
        <span class="item-note">
          {{current_dashboard.last_login.from}}
        </span>
      </a>
      <a class="item" href="#">
        When :
        <span class="item-note">
          {{current_dashboard.last_login.when}}
        </span>
      </a>
       <a class="item" href="#">
        Device :
        <span class="item-note">
          {{current_dashboard.last_login.device}}
        </span>
      </a>
    </div>
  </ion-content>
</ion-view>