<ion-view view-title="APPROVAL SYSTEM" hide-back-button="true">
  <ion-nav-buttons side="left">
    <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
    </button>
  </ion-nav-buttons>
  <div class="bar bar-subheader">
    <h2 class="title">Your Dashboard</h2>
  </div>
  <ion-content>
    <br/>
    <br/>
    <div class="list card">
      <a class="item card item-avatar" href="#">
        <img src="http://ionicframework.com/img/docs/venkman.jpg">
        <h2>Venkman</h2>
        <p>Back off, man. I'm a scientist.</p>
      </a>
      <div class="item item-divider">
        Notification
      </div>
      <a class="item" href="#">
        Pending Approval
        <span class="item-note">
          {{current_dashboard.pending}}
        </span>
      </a>
    </div>
    <div class="list card">
      <div class="item item-divider">
        Statistic
      </div>
      <a class="item" href="#">
        Approved Today :
        <span class="item-note">
          {{current_dashboard.approved.today}}
        </span>
      </a>
      <a class="item" href="#">
        Approved this Week :
        <span class="item-note">
          {{current_dashboard.approved.week}}
        </span>
      </a>
      <a class="item" href="#">
        Approved this Month :
        <span class="item-note">
          {{current_dashboard.approved.month}}
        </span>
      </a>
    </div>
    <div class="list card">
      <div class="item item-divider">
        Last Login
      </div>
      <a class="item" href="#">
        From :
        <span class="item-note">
          {{current_dashboard.last_login.from}}
        </span>
      </a>
      <a class="item" href="#">
        When :
        <span class="item-note">
          {{current_dashboard.last_login.when}}
        </span>
      </a>
       <a class="item" href="#">
        Device :
        <span class="item-note">
          {{current_dashboard.last_login.device}}
        </span>
      </a>
    </div>
  </ion-content>
</ion-view>