<ion-view view-title="APPROVAL SYSTEM" hide-back-button="true">
  <div class="bar bar-subheader">
    <h2 class="title">Your Dashboard</h2>
  </div>
  <ion-content>
    <br/>
    <br/>
    <div class="list card">
      <a class="item card item-avatar" href="#">
        <img src="http://ionicframework.com/img/docs/venkman.jpg">
        <h2>Venkman</h2>
        <p>Back off, man. I'm a scientist.</p>
      </a>
      <div class="item item-divider">
        Notification
      </div>
      <a class="item" href="#">
        Pending Approval
        <span class="item-note">
          5
        </span>
      </a>
    </div>
    <div class="list card">
      <div class="item item-divider">
        Statistic
      </div>
      <a class="item" href="#">
        Approved Today :
        <span class="item-note">
          19
        </span>
      </a>
      <a class="item" href="#">
        Approved this Week :
        <span class="item-note">
          21
        </span>
      </a>
      <a class="item" href="#">
        Approved this Month :
        <span class="item-note">
          42
        </span>
      </a>
    </div>
    <div class="list card">
      <div class="item item-divider">
        Last Login
      </div>
      <a class="item" href="#">
        From :
        <span class="item-note">
          192.177.1.26
        </span>
      </a>
      <a class="item" href="#">
        When :
        <span class="item-note">
          3 days Ago
        </span>
      </a>
       <a class="item" href="#">
        Device :
        <span class="item-note">
          Android
        </span>
      </a>
    </div>
  </ion-content>
</ion-view>
