<ion-view view-title="APPROVAL SYSTEM" hide-back-button="true">
  <div class="bar bar-subheader">
    <h2 class="title">Your History</h2>
  </div>
  <ion-content>
    <br/>
    <br/>
    <div class="list list-inset">
      <label class="item item-input">
        <i class="icon ion-search placeholder-icon"></i>
        <input type="text" placeholder="Search">
      </label>
    </div>
    <div class="list card">
      <a class="item" href="#">
        <span class="item-note">
          01/09/2015
        </span>
        <br/>
        <span class="item-note">
          09:25 AM
        </span>
        <br/>
        <h2>Approved PR002791</h2>
        <p>Iphone (IP 125.32.45.112).</p>
      </a>
    </div>
    <div class="list card">
      <a class="item" href="#">
        <span class="item-note">
          01/09/2015
        </span>
        <br/>
        <span class="item-note">
          09:22 AM
        </span>
        <br/>
        <h2>Approved INV013200</h2>
        <p>Iphone (IP 37.33.19.110).</p>
      </a>
    </div>
    <div class="list card">
      <a class="item" href="#">
        <span class="item-note">
          01/09/2015
        </span>
        <br/>
        <span class="item-note">
          09:25 AM
        </span>
        <br/>
        <h2>Logged in from app on</h2>
        <p>Iphone (IP 125.32.45.112).</p>
      </a>
    </div>
    <div class="list card">
      <a class="item" href="#">
        <span class="item-note">
          01/09/2015
        </span>
        <br/>
        <span class="item-note">
          08:05 AM
        </span>
        <br/>
        <h2>Logout from app on</h2>
        <p>Android device (IP 119.43.37.116).</p>
      </a>
    </div>
  </ion-content>
</ion-view>
