<ion-view view-title="APPROVAL SYSTEM" hide-back-button="true">
  <div class="bar bar-subheader">
    <h2 class="title">Your History</h2>
  </div>
  <ion-content>
    <br/>
    <br/>
    <div class="list card" style="margin-top: 0;">
      <div ng-repeat="item in history.data">
        <div class="item item-divider"><!-- 
          {{item.id}} -->
          <span class="item-note">
            {{item.datetime}}
          </span>
        </div>
        <span class="item" href="#">
          {{item.event}}
        </span>
        <span class="item" href="#">
          {{item.ip_address}}
        </span>
      </div>
    </div>
  </ion-content>
</ion-view>