<ion-view view-title="APPROVAL SYSTEM" hide-back-button="true">
  <div class="bar bar-subheader">
    <h2 class="title">Profile</h2>
  </div>
  <ion-content>
    <br/>
    <br/>
    <div class="list card">
      <span class="item" href="#">
        <span>Venkman</span>
        <span class="item-note">
          <button class="button button-small button-royal">
            Update
          </button>
        </span>
        <p>Username: lintangarief13@gmail.com</p>
      </span>
      <span class="item item-thumbnail-left">
        <img src="http://ionicframework.com/img/docs/venkman.jpg">
        <h2>Status : Approver User</h2>
      </span>
      <br/>
      <div class="item item-divider">
        Information
      </div>
      <label class="item item-input item-stacked-label">
        <span class="input-label">First Name</span>
        <input type="text" placeholder="John" class="list-inset">
      </label>
      <label class="item item-input item-stacked-label">
        <span class="input-label">Last Name</span>
        <input type="text" placeholder="Suhr" class="list-inset">
      </label>
      <label class="item item-input item-stacked-label">
        <span class="input-label">Description</span>
        <textarea name="comment" placeholder="Suhr">
        </textarea>

      </label>

    </div>
  </ion-content>
</ion-view>
