<ion-view view-title="APPROVAL SYSTEM" hide-back-button="true">
  <div class="bar bar-subheader">
    <h2 class="title">Profile</h2>
  </div>
  <ion-content>
    <br/>
    <br/>
    <form ng-submit="update_user(user)">
      <div class="list card">
        <span class="item" href="#">
          <span>{{user.first_name + " " + user.last_name}}</span>
          <span class="item-note">
            <button class="button button-small button-royal">
              Update
            </button>
          </span>
          <p>Username: {{user.username}}</p>
        </span>
        <span class="item item-thumbnail-left">
          <img src="http://www.erickwellem.com/demo/approsys/{{user.photo}}">
          <h2>Status : Approver User</h2>
        </span>
        <br/>
        <div class="item item-divider">
          Information
        </div>
        <label class="item item-input item-stacked-label">
          <span class="input-label">First Name</span>
          <input type="text" placeholder="First Name" class="list-inset" value="{{user.first_name}}">
        </label>
        <label class="item item-input item-stacked-label">
          <span class="input-label">Last Name</span>
          <input type="text" placeholder="Last Name" class="list-inset" value="{{user.last_name}}">
        </label>
        <label class="item item-input item-stacked-label">
          <span class="input-label">Description</span>
          <input type="text" placeholder="Description" class="list-inset" value="{{user.description}}">
        </label>
      </div>
    </form>
  </ion-content>
</ion-view>
