<ion-view view-title="APPROVAL SYSTEM" hide-back-button="true">
  <div class="bar bar-subheader">
    <h2 class="title">Your Setting</h2>
  </div>
  <ion-content>
    <br/>
    <br/>
    <ul class="list">
      <li class="item item-toggle">
        HTML Email
         <label class="toggle toggle-assertive">
           <input type="checkbox">
           <div class="track">
             <div class="handle"></div>
           </div>
         </label>
      </li>
      <li class="item item-toggle">
        App Notification
         <label class="toggle toggle-assertive">
           <input type="checkbox">
           <div class="track">
             <div class="handle"></div>
           </div>
         </label>
      </li>
    </ul>
  </ion-content>
</ion-view>
