<ion-view view-title="APPROVAL SYSTEM" hide-back-button="true">
  <ion-nav-buttons side="left">
    <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
    </button>
  </ion-nav-buttons>
  <ion-content>
    <ion-side-menu side="left">
    </ion-side-menu>
    <form ng-submit="signIn()">
      <div class="list">
        <label class="item item-input">
          <span class="input-label">Email</span>
          <input type="text" ng-model="loginData.email">
        </label>
        <label class="item item-input">
          <span class="input-label">Password</span>
          <input type="password" ng-model="loginData.password">
        </label>
        <label class="item">
          <button class="button button-block button-royal" type="submit">Log in</button>
        </label>
      </div>
    </form>
  </ion-content>
</ion-view>
