/* Empty. Add your own CSS if you like */
.title.title-left.header-item {
  text-align: center !important;
  left: 1px !important;
}
.menu-bar{
  background-color: #EFF1F5;
  font-family: 'Helvetica Neue', 'Helvetica', Arial, sans-serif;
  padding: 0;
  margin: 0;
  -webkit-font-smoothing: antialiased;
}
.bar.bar-royal{
	background: #3c8dbc;
}
.button.button-royal.active, .button.button-royal.activated{
	background: #3c8dbc;
}
.button.button-royal {
    border-color: #3c8dbc;
    background-color: #3c8dbc;
    color: #fff;
}

.input-style{
	font-style: italic;
	font-weight: bold;
}

.button-view{
	background: #3C8DBC;
	border-color: #3C8DBC;
}

.button-approve{
	background: #38903F;
	border-color: #38903F;
}

.button-reject{
	background: #EF2E64;
	border-color: #EF2E64;
}